@charset "UTF-8";
body,fieldset,th,td,select,input,textarea { font-size: 12px;font-family: "宋体";color: #666666;background: #fff;}
select,input { vertical-align: middle;outline: medium;}
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {padding: 0;margin: 0;}
i {font-style: normal;}
strong,em { font-style: normal;}
html { overflow: -moz-scrollbars-vertical; overflow-x: hidden;}
/*始终让 Firefox 显示滚动条*/
* { word-wrap: break-word;}
/*文字强制换行word-break:keep-all;(Ff)*/
table { border-collapse: collapse;}
/*细线表格*/
fieldset,img {border: 0px;}
/*清除描边,块显示*/
ul,li {list-style-type: none;}
/*无列表项目标记*/
a {color: #666;text-decoration: none;}
/* 重置链接a标签 */
a:active,a:hover { text-decoration: none;}
/* 重置链接a标签的鼠标滑动效果 */
body,fieldset,th,td,select,input,textarea {font-size: 12px;font-family: "宋体";color: #666666;background: #fff;}
select,input {vertical-align: middle;outline: medium;}
input[type=button],input[type=reset],input[type=submit],input[type=radio],input[type=checkbox] {cursor: pointer;}
.clear:after {display: block;visibility: hidden;clear: both;height: 0;overflow: hidden;content: '.';}
.fl { float: left;}
.fr { float: right;}
/*字体阴影*/
.font-shadow{text-shadow:1px 1px 0 #999,2px 2px 0 #666, /* end of 2 level deep grey shadow */3px 3px 0 #000,4px 4px 0 #000,5px 5px 0 #000,6px 6px 0 #000; /* end of 4 level deep dark shadow */}
.font-shadow2{text-shadow:1px 1px 0 #999,2px 2px 0 #000 /* end of 4 level deep dark shadow */}
.top{position: fixed; top: 0;left: 0; width: 100%; height: 140px;/*border-bottom: 1px rgba(255,255,255,0.2) solid*/;z-index: 999}
.top .logo{float: left; color: #fff; font-size:40px; font-family: Arial,"Microsoft Yahei"; margin:30px 0 0 20px;height: 80px;line-height: 80px;font-weight: bold;opacity: 0.6;cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);

    -webkit-animation: logo 1.2s ease-out none;
    -moz-animation: logo 1.2s ease-out none;
    animation: logo 1.2s ease-out none;
}
.top .logo:hover{opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.top .nav{float: right; margin-left: 20px;
    -webkit-animation: navanimation 2.2s ease-out none;
    -moz-animation: navanimation 2.2s ease-out none;
    animation: navanimation 2.2s ease-out none;
}
.nav-inner{width: 700px; height: 90px;margin: 20px 20px 0 0;float: right;;position: relative;
    -webkit-perspective: 8885px;
    -moz-perspective: 8885px;
    perspective: 8885px;

    -webkit-transition:0.3s transform;
    -moz-transition: 0.3s transform;
    transition: 0.3s transform;

    -webkit-transform: skewY(-1deg);
    -moz-transform: skewY(-1deg);
    transform: skewY(-1deg);

}
.nav-inner .nav{position: relative;transition: 0.5s all; width: 700px; height: 100px; transform-style:preserve-3d; transition:0.5s all;transform: rotateX(-6deg) rotateY(-8deg) rotateZ(0deg);}
.nav .ceil{ width: 700px; height:100px; background: rgba(255,255,255,0.1); position: absolute; top: 0;left: 0;box-sizing: border-box; box-shadow:0 0 3px rgba(255,255,255,.5);}
.nav .box-top{transform: rotateX(90deg) translateZ(50px);border: 1px rgba(255,255,255,0.2) solid; }
.nav .box-bottom{transform: rotateX(90deg) translateZ(-50px); top: 0;border: 1px rgba(255,255,255,0.2) solid;}
.nav .box-after{transform:translateZ(-50px); top: 0;border: 1px rgba(255,255,255,0.3) solid;background: rgba(255,255,255,0.2);}
.nav .box-prev{transform:translateZ(50px); top: 0;border: 1px rgba(255,255,255,0.3)  solid; }
.nav .box-left{width: 100px; height:100px; background: rgba(255,255,255,0.2); position: absolute; top: 0;left: 0;box-sizing: border-box; transform: rotateY(90deg) translateZ(-50px);}
.nav .box-right{width: 100px; height:100px; background: rgba(255,255,255,0.2); position: absolute; top: 0;right: 0;box-sizing: border-box; transform: rotateY(90deg) translateZ(50px);}
.nav .box-prev .link{height: 100px; line-height: 100px; width: 25%; float: left; display: block; text-align: center; color: #fff; font-size: 18px; font-family: "Microsoft Yahei";position: relative; z-index: 22}
.nav .box-prev .link-mark{position: absolute;width:175px; height: 100px; left: 0;border: 1px rgba(0,0,0,0.0) solid; box-sizing: border-box;margin: -1px 0 0 -1px;;z-index: 2; opacity: 0; animation: linkMark 1s 2s linear forwards;}
.box-prev .link-mark .active-box{position: relative; height: 100px;transform-style: preserve-3d; transform: rotateX(-6deg) rotateY(-8deg) rotateZ(0deg) skewY(-1deg); }
.box-prev .link-mark .active-box li{display: block; width: 100%; height:100%; background: rgba(0,0,0,0.3); position: absolute; top: 0;box-sizing: border-box; border: 1px rgba(0,0,0,0) solid;box-shadow: 0 0 2px rgba(0, 0, 0, 0.8); /* box-shadow: 0px 0px 1px 1px rgb(0, 141, 255);*/ box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);}
.box-prev .link-mark .active-box li:nth-of-type(1){transform: rotateX(90deg) translateZ(50px) translateY(-50px);left: 0}
.box-prev .link-mark .active-box li:nth-of-type(2){transform: rotateX(90deg) translateZ(-50px) translateY(-50px);left: 0}
.box-prev .link-mark .active-box li:nth-of-type(3){ transform:translateZ(-100px);left: 0}
.box-prev .link-mark .active-box li:nth-of-type(4){ height: 100px; width: 100px;transform: rotateY(90deg) translateX(52px) translateZ(50px);right: 0}
.box-prev .link-mark .active-box li:nth-of-type(5){ height: 100px; width: 100px;transform: rotateY(90deg) translateX(50px) translateZ(-50px);left: 0}
.box-prev .link-mark .active-box li:nth-of-type(6){left: 0}
/**/
.theme-body{background: url("../img/pic5.jpg") no-repeat center 0 #000}

@-webkit-keyframes logo {
    0%{ -webkit-transform: translateY(-200px);opacity: 0}
    60%{opacity: 1}
    70%{-webkit-transform: translateY(20px)}
    100%{-webkit-transform: translateY(0px) scale(0.8)}
}
@-moz-keyframes logo {
    0%{ -moz-transform: translateY(-200px);opacity: 0}
    60%{opacity: 1}
    70%{-moz-transform: translateY(20px)}
    100%{-moz-transform: translateY(0px) scale(0.8)}
}
@keyframes logo {
    0%{ transform: translateY(-200px);opacity: 0}
    60%{opacity: 1}
    70%{transform: translateY(20px)}
    100%{transform: translateY(0px) scale(0.8)}
}

/**/
@-webkit-keyframes navanimation {
    0%{ -webkit-transform: translateY(50px) scale(0) rotateX(100deg) rotateY(100deg);}
    60%{opacity: 1}
    70%{-webkit-transform: translateY(20px) scale(1) rotateX(0deg) rotateY(0deg)}
    100%{-webkit-transform:translateY(0px) rotateX(-6deg) rotateY(-8deg) rotateZ(0deg);}
}
@-moz-keyframes navanimation {
    0%{ -moz-transform: translateY(50px) scale(0) rotateX(100deg) rotateY(100deg);}
    60%{opacity: 1}
    70%{-moz-transform: translateY(20px) scale(1) rotateX(0deg) rotateY(0deg)}
    100%{-moz-transform:translateY(0px) rotateX(-6deg) rotateY(-8deg) rotateZ(0deg);}
}
@keyframes navanimation {
    0%{ transform: translateY(50px) scale(0) rotateX(100deg) rotateY(100deg);}
    60%{opacity: 1}
    70%{transform: translateY(20px) scale(1) rotateX(0deg) rotateY(0deg)}
    100%{transform:translateY(0px) rotateX(-6deg) rotateY(-8deg) rotateZ(0deg);}
}
@keyframes linkMark{
    0%{transform: scale(0.1);opacity:1;  }
    25%{transform: scale(0.8);}
    50%{transform: scale(0.6);}
    75%{transform: scale(0.9);}
    100%{transform: scale(0.8) translateY(2px);opacity: 1;}
}

/*关于我*/
.about-me{position: fixed;width: 300px;height: 380px;bottom: 90px;left: 55px;transform-style: preserve-3d; transition: 0.5s all; transform: rotateX(-6deg) rotateY(-8deg) rotateZ(0deg) skewY(-1deg) scale(0.5);}
.about-me.hide{left: 999px; opacity: 0;transition: none}
.about-me.center{transform: rotateX(-6deg) rotateY(-8deg) rotateZ(0deg) skewY(-1deg) scale(1);
    left: 50%;
    opacity: 1;
    bottom: 50%;
    margin: 0 0 -190px -150px;}
.about-me:hover{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewY(0deg)  scale(1);}
.about-me .ceil{position: absolute;width: 300px; height: 380px;background: rgba(255,255,255,0.05);border: 1px rgba(255,255,255,0) solid;box-sizing: border-box;box-shadow: 0 0 3px rgba(255,255,255,.5);}
.about-me .main-me{color: #fff}
.about-me .ceil:nth-of-type(1){top: 0; left: 0;height:150px;transform: rotateX(90deg) translateZ(75px)}
.about-me .ceil:nth-of-type(2){bottom: 0; left: 0;height: 150px;transform: rotateX(90deg) translateZ(-75px)}
.about-me .ceil:nth-of-type(3){top: 0; left: 0; width: 150px; transform: rotateY(90deg) translateZ(-75px);}
.about-me .ceil:nth-of-type(4){top: 0; right: 0; width: 150px; transform: rotateY(90deg) translateZ(75px);}
.about-me .ceil:nth-of-type(5){top: 0; left: 0;transform:translateZ(-75px);font-family: Arial; font-size: 12px; color:rgba(0,0,0,0); overflow: hidden; color: #fff;line-height: 20px;letter-spacing:5px;}
.about-me .ceil.main-me{top: 0;transform:translateZ(75px);}
.about-me .main-me .my-hear{height:110px;padding:20px 0 10px 20px}
.about-me .main-me .my-hear .header-img{float:left; width: 110px; height: 110px; background: rgba(255,255,255,0.5)}
.about-me .main-me .my-hear .my-data{float: left;margin-left: 20px}
.about-me .main-me .my-hear .my-data h3{    font-size: 24px;height: 37px;line-height: 30px;font-family: "Microsoft Yahei";font-weight: 300;}
.about-me .main-me .my-hear .my-data p{height: 25px;line-height: 31px;font-family: Arial;}
.about-me .main-me .data{margin: 0 20px; line-height: 30px}
.about-me .pd-wrap{padding-left:20px}
.about-me .data-tip{font-size:16px; font-family: "Microsoft Yahei";}
.about-me .pd-wrap .skills{position: relative; height: 20px; border: 1px #fff solid; margin: 10px 0; width: 90%;}
.about-me .pd-wrap .skills .skill-long{position: absolute; top:0;left: 0; background: rgba(255,255,255,1);height: 20px;border-radius: 0 20px 0 20px;}
.about-me .pd-wrap .skill-long.lv4{width: 90%}
.about-me .pd-wrap .skill-long.lv3{width: 70%}
.about-me .pd-wrap .skill-long.lv2{width: 70%}
.about-me .pd-wrap .skill-long.lv1{width: 50%}
.about-me .pd-wrap .skills .skill-text{text-indent: 20px; display: block;line-height: 20px; height: 20px; color: #000;position: relative; z-index: 99; font-family: Arial}
.about-me .icon{padding-top:12px}
.about-me .icon a{display: inline-block; font-size: 23px; border: 1px #fff solid; width: 50px; height: 50px; line-height: 50px; color: #fff; text-align: center; margin-right: 10px}








