<div class="top">
    <div class="logo font-shadow showMe">YANG XUAN BIN</div>
    <div class="nav-inner">
        <div class="nav">
            <div class="box-top ceil"></div>
            <div class="box-prev ceil">
                <a class="link" href="javascript:;">主&nbsp;页</a>
                <a class="link" href="javascript:;">博&nbsp;客</a>
                <a class="link" href="javascript:;">实验室</a>
                <a class="link showMe" href="javascript:;">关于我</a>
                <div class="link-mark">
                    <ul class="active-box">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="box-after ceil"></div>
            <div class="box-bottom ceil"></div>
            <div class="box-left"></div>
            <div class="box-right"></div>
        </div>
    </div>
</div>
