#ds-thread{
    width: 85%;
    margin: 0 auto;
}
#ds-thread #ds-reset li.ds-tab a.ds-current{
    border: 2px #4398ed solid;
    background: none;
    height: 30px;
    line-height: 30px;
    display: block;
    float: left;
    border-bottom: 2px #fff solid;
    margin-bottom: -2px;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    font-family: "Microsoft Yahei" !important;
    color: #4398ed;
}
#ds-thread #ds-reset ul.ds-comments-tabs .ds-highlight{
    color: #00a3cf !important;
    font-family: Arial;
    font-size: 12px;
}
#ds-thread #ds-reset .ds-comment-footer{
    float: right;
}
#ds-thread #ds-reset li.ds-post:first-child {
    border-top: 2px #4398ed solid;
}
#ds-thread #ds-reset .ds-comment-body, #ds-thread #ds-reset ul.ds-children .ds-comment-body{
    padding-left: 55px;
}
#ds-thread #ds-reset .ds-meta{display: none}
#ds-thread #ds-reset .ds-textarea-wrapper {
    background: none;
    border-radius: 4px;
}
#ds-thread #ds-reset .ds-post-options {
    background: none;
    border: none;
}
#ds-thread #ds-reset .ds-textarea-wrapper {
    position: relative;
    border: 1px solid #4398ed;}
#ds-thread #ds-reset .ds-post-toolbar{
    margin-top:10px;
}

#ds-thread #ds-reset .ds-post-button {
    background: none;
    border: 1px #4398ed solid;
    border-radius: 3px;
    color: #4398ed;
    width: 100px;
    font-family: "Microsoft Yahei";
    font-size: 15px;
}
#ds-thread #ds-reset .ds-post-options .ds-sync {
    right: 120px;
}
#ds-thread #ds-reset .ds-post-button:hover{background: none; color:#4398ed }