@import "mybase";

.nav-wrap{height: 80px;width: 100%; overflow: hidden; background:#4183c4; position: fixed; top: 40px; box-shadow: 0 0 5px rgba(0,0,0,0.2); z-index: 999; transition: 0.5s all;
  &.goTop-nav{background: #fff;
    &.top{top:0}
    .logo-wrap .icon{ color:#2e2e2e;}
    .logo-wrap .my-name{color:#2e2e2e}
    .nav li a{color:#2e2e2e;text-shadow: 0 0 0 rgba(0,0,0,0)}
    .nav li:hover a{color: #4183c4}
    .logo-wrap:hover{ text-shadow: none}
  }

}

.index-inner{position: relative;}
.ajax-tab{position:absolute;top: 0;left: 0; width: 100%; background: #fff}

.banner{height:430px; background: #4183c4;position: relative ; transition: 0.5s all;
  .wrap{transition: 0.3s all;position: relative;padding-top: 198px}
  &.small{height: 335px;
    .wrap{padding-top: 140px;text-shadow: 1px 1px 3px rgba(0,0,0,0.6);transition:0.3s all}
  }
}
.wrap{width: 1170px;margin: 0 auto; overflow: hidden;padding: 0 15px}
.nav-wrap{
  .logo-wrap{float: left; height: 80px; line-height: 80px; overflow: hidden; display: block;transition: 0.3s all; text-shadow:0 0 6px rgba(0,0,0,0);
    &:hover{ transform:scale(1.08); text-shadow:0 0 6px rgba(0,0,0,0.6)}
    .my-name{font-size: 38px; color: #fff; display: inline-block;padding-left: 10px; transition: color 0.7s}
    .icon{color: #fff; font-size: 44px; color: #fff; text-shadow:  0 0 5px rgba(0,0,0,0.2); display: inline-block;text-shadow:0 0 rgba(0,0,0,0); transition: color 0.3s;/* animation: gitIcon 8.1s ease-out infinite forwards*/}
  }
  .nav{float: right;
    li{ height: 80px;line-height: 80px; float: left;  margin: 0 auto; color: #9acfea; position: relative;
      &:hover:before{left:0;right: 0}
      &:before{  content: "";  position: absolute;  z-index: -1;  left: 50%;  right: 50%;  bottom: 15px;  background: #2098d1; height: 4px;  -webkit-transition-property: left,right;  transition-property: left,right; -webkit-transition-duration: .3s;  transition-duration: .3s;  -webkit-transition-timing-function: ease-out;  transition-timing-function: ease-out  }
      &:hover a{color: #fff; transform:scale(1.1)}
      a{ height: 80px;line-height: 80px; display: inline-block; padding:0 30px; color: #9acfea; display: block; font-size: 20px;transition: 0.3s all; text-shadow: 0 0 3px rgba(0,0,0,0.5)}
    }
  }
}


/****baner****/
.about-me{float: left; width: 400px;border: 3px #fff dotted;border-style: dashed;border-color: rgba(255,255,255,0); padding-bottom: 15px; text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
  .me{width: 160px; float: left;
    p{height: 30px; line-height: 30px; font-size: 18px; color: #fff;text-align: center; font-family: "Microsoft Yahei"}
  }
  .header{ width: 110px; height: 110px; padding: 5px; background: #fff; border-radius: 120px; margin: 20px auto 10px;overflow: hidden; border: 3px #fff solid;
    img{ width: 130px; height: 130px;  overflow: hidden;  position: relative;  top: -10px;  left: -10px;}
  }
  .des{float: left;margin: 26px 0 0 10px;
    p{height: 34px; line-height: 34px; font-size: 18px; color: #fff;text-align: left; font-family: "Microsoft Yahei";
      &.first{height: 51px; font-size: 28px;  line-height: 34px;}
      i { font-size: 20px;padding-right: 5px;}
    }
  }
}

/*   content    */
.main{ overflow: hidden; padding-top: 20px;}
.inner-left{float: left ; width: 66.66%;;box-sizing: border-box; padding-right: 20px;}

.main-list {
  .row{ margin: 31px 0 8px;padding-left:18px;border-bottom: 1px #ebebeb solid; border-left: 2px rgba(0,0,0,0) solid;   transition: 0.5s all; opacity: 0;
    &:hover{border-left: 2px #337ab7 solid; }
    h3{line-height: 51px; font-size:30px; color: #337ab7; font-weight: normal; font-family:Arial,"Microsoft Yahei";
      a{color: #337ab7;transition: 0.3s all; display: inline-block;}
    }
    .text-des{line-height: 28px; font-size: 18px; color: #666}
    .date { line-height: 37px;  font-size: 18px;  color: #C1C1C1;  font-family: arial;
      i{font-size: 16px;}
    }
  }


}

.repositories-right{ float: right; width: 33.33%; padding-top: 30px;box-sizing: border-box;
  .repositories-tt{ font-size: 24px; text-align: center}
  .list{ padding-top: 20px; width: 360px; margin: 0 auto; padding-bottom: 10px;
    .column{min-height: 180px; padding-bottom:7px;  border: 1px solid rgba(0,0,0,0.075);  border-bottom-color: rgba(0,0,0,0.125);  border-radius: 4px;  box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 5px 10px rgba(0,0,0,0.05);  -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out; transition: 0.3s all;margin-bottom: 30px;transform: scale(0.95);opacity: 0;display: none;
      &:hover{transform: scale(1.02)}
      &:hover{border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.15);  box-shadow:0 2px 4px rgba(0,0,0,0.05),0 10px 18px rgba(0,0,0,0.1);  opacity: 1;}
      .tt{height: 130px; background: #ccc;margin: 4px;border-radius: 4px;line-height: 130px; text-align: center; font-size: 30px; overflow: hidden;transition: 0.5s all; position: relative;
        .markImg{position: absolute; top:0; left:0; width: 100%; height: 100%; z-index: 1; opacity: 0.3; transition: 0.3s all;}
        a{display: block; background-color:rgba(0,0,0,0.3); transition: 0.3s ease-out all; color: #ebebeb; position: relative; z-index: 3}
        &:hover{opacity: 0.8}
        &:hover a{ opacity: 0; border-radius: 300px; transform: scale(0.5)}
        &:hover .markImg{opacity:1}
      }
      .des{ line-height: 30px; text-align: center; font-size: 16px; font-family: "Microsoft Yahei"; color: #666}
      .url{ text-align: center; color:#4183c4; height: 30px;line-height: 30px;overflow: hidden}
    }
  }
}



.article-hd{
  .article-tt{line-height: 70px; font-size: 38px; color: #fff; font-family: "Microsoft Yahei";padding-top: 40px}
  .article-date{ font-size: 24px;color: #fff; line-height: 30px}
  .article-date i{ font-size: 28px}
  .article-date span{padding-left:5px;font-size:26px }
}

.page-article{display: none; background: #fff}
.hideEl{ opacity: 0}

/*Blog*/
.time-line{ position: relative;min-height: 1000px; padding-top: 30px; clear: both;
  .timeYear{width: 80px; height: 80px; background: #337ab7; border-radius: 40px;position: absolute;top:30px; left:50%; margin-left: -40px;line-height: 80px; color: #fff;  font-size: 20px; text-align: center;z-index: 5;box-shadow: 2px 2px 7px rgba(0,0,0,0.6);transition:0.8s all;transform: scale(0.1);opacity: 0}
  .line{position: absolute;top:30px; left:50%; margin-left: -3px; width: 6px; height: 100%; background: #337ab7; border-radius: 8px;z-index: 3;box-shadow:2px 2px 4px rgba(0,0,0,0.2);opacity: 0}
}

.article-list{ width: 1000px; margin: 100px auto 0; overflow: hidden; padding:5px 20px;
  li{ width:50%;  position: relative; z-index: 20; transition: 0.3s all;opacity: 0; height: 168px;
    &:hover .inner{transform: scale(1.03)}
    .inner{ width: 450px; min-height: 100px; box-shadow: 1px 1px 10px rgba(0,0,0,0.2);transition: 0.3s all}
    .dot{position: absolute; right: -7px;top: 10px; width: 15px; height: 15px; border-radius: 15px; background: #5dabef; z-index: 20;box-shadow: 0px 0px 9px rgba(0,0,0,0.2);}
    .hd-tt{padding: 10px; background:#337ab7;line-height: 30px;font-size: 18px; color: #fff; cursor: pointer; transition: 0.6s all;text-indent: 10px;
      &:hover{background: #41b1c4;}
    }
    .text{padding: 10px 10px 0; line-height:25px; font-size: 18px;color: #666; cursor: pointer;transition: 0.3s all;
      &:hover{color: #337ab7;}
    }
    .date{padding:0 10px; line-height: 30px; text-align: right;}
    span{font-size: 16px;color: #999;padding: 0 20px 7px 0;}
    i { color: #999;font-size: 23px;  position: relative;  left: -5px;  top: 2px;}
    &:after{  content: "";  width: 0px;  height: 0px;  position: absolute;  top: 10px;  right: 30px;  border: 10px solid transparent;  border-left-color: #337ab7;transition: 0.3s all; }
    &:before{  top: 39px; border: 11px solid transparent;  border-left-color: #000000; transition: 0.3s all }
    .row{
      &:hover .inner{    box-shadow: 1px 1px 10px rgba(0,0,0,0.8); }

    }
  }
  .row{
    &.lt{float: left;margin-bottom:50px}
    &.rt{float: right;margin-top: 50px;
      .inner{float: right;}
      .dot{position: absolute; left: -7px;top: 10px; width: 15px; height: 15px; border-radius: 15px; background: #5dabef; z-index: 20}
      &:after{  content: "";  width: 0px;  height: 0px;  position: absolute;  top: 10px;  left: 30px;  border: 10px solid transparent;  border-right-color: #337ab7;  }
      &:before{  top: 39px;  border: 11px solid transparent;  border-right-color: #000000;  }
    }
  }
}

/*myOpen-list*/
.myOpen-list{ padding-top: 20px;margin: 0 auto; padding-bottom: 10px; overflow: hidden;
  .column{min-height: 180px; padding-bottom:7px;  border: 1px solid rgba(0,0,0,0.075);  border-bottom-color: rgba(0,0,0,0.125);  border-radius: 4px;  box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 5px 10px rgba(0,0,0,0.05);  -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out; transition: 0.3s all;margin-bottom: 30px;transform: scale(0.95); width: 320px; float: left; margin:30px;opacity: 0;
    &:hover{    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.15);  box-shadow:0 2px 4px rgba(0,0,0,0.05),0 10px 18px rgba(0,0,0,0.1);  opacity: 1;}
    .tt{height: 130px; background: #ccc;margin: 4px;border-radius: 4px;line-height: 130px; text-align: center; font-size: 26px; overflow: hidden;transition: 0.5s all; position: relative;font-family: Arial,"Microsoft Yahei";
      .markImg{position: absolute; top:0; left:0; width: 100%; height: 100%; z-index: 1; opacity: 0.3; transition: 0.3s all;}
      a{display: block; background-color:rgba(0,0,0,0.3); transition: 0.3s ease-out all; color: #ebebeb; position: relative; z-index: 3;}
      &:hover a{ opacity: 0; border-radius: 300px; transform: scale(0.5)}
      &:hover{opacity: 0.8}
      &:hover .markImg{opacity:1}
    }
    &:hover{transform: scale(1.02)}
    .des{ line-height: 30px; text-align: center; font-size: 16px; font-family: "Microsoft Yahei"; color: #666; height: 30px ;overflow: hidden}
    .url{ text-align: center; color:#4183c4; height: 30px;line-height: 30px;overflow: hidden}
  }
}

/*  动画效果  */

.keyframes(showAnimate,{
  0%{opacity: 0; transform:translateY(-100px)  scale(0);}
  70%{opacity: 1; width: 100%;}
  100%{background: #4183c4;transform:translateY(0)  scale(1) ;}
});

.keyframes(showNav,{
  0%{opacity: 0; transform:translateX(-200px) scale(0);}
  70%{}
  100%{opacity: 1;transform:translateY(0px) scale(1);}
});

.keyframes(showMe,{
  0%{opacity: 0; transform: scale(0);}
  70%{}
  100%{transform: scale(1);opacity: 1;}
});

.keyframes(showEl,{
  0%{opacity: 0; transform:translateY(100px) scale(0);}
  50%{ transform: translateY(0px) scale(1.2)}
  100%{transform: scale(1) ; opacity: 1;}
});

.keyframes(listEl,{
  0%{transform:translateY(200px);opacity: 0; }
  50%{transform:translateY(-15px);}
  100%{transform:translateY(0px);opacity: 1;}
});

.keyframes(listEl2,{
  0%{transform:translateY(200px);opacity: 0; }
  50%{transform:translateY(-15px);}
  100%{transform:translateY(0px) scale(0.95);opacity: 1;}
});

.keyframes(mainRtEl,{
  0%{transform:translateY(200px);opacity: 0; }
  5%{transform:scale(0); }
  50%{transform:translateY(-15px);}
  95%{transform:scale(1); }
  100%{transform:scale(0.95) translateY(0px);opacity: 1;}
});

//
/* 文章内页 */
.article-main{line-height: 30px;padding-top: 50px;font-size: 18px;
  ul,ol{padding-left: 20px}
  li{ list-style: inherit;}

  h1{word-break: break-all;  font-size: 32px; font-weight: bold;line-height: 1.5;}
  h2{word-break: break-all;  font-size: 30px; font-weight: bold;line-height: 1.5;}
  h3{word-break: break-all;  font-size: 28px; font-weight: bold;line-height: 1.5;}
  h4{word-break: break-all;  font-size: 24px; font-weight: bold;line-height: 1.5;}
  h5{word-break: break-all;  font-size: 20px; font-weight: bold;line-height: 1.5;}
  h6{word-break: break-all;  font-size: 16px; font-weight: bold;line-height: 1.5;}

  blockquote{padding: 10px 0;border-bottom:1px #ebebeb solid; margin-bottom: 8px;}
}





