<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <script src="js/myjs.js"></script>
    <script src="js/main.js"></script>

</head>
<body class="theme-body">
{% include header.html %}
    <div class="about-me hide">
        <div class="ceil"></div>
        <div class="ceil"></div>
        <div class="ceil"></div>
        <div class="ceil"></div>
        <div class="ceil"></div>
        <div class="main-me ceil">
            <div class="my-hear">
                <div class="header-img"><img src="" alt=""></div>
                <div class="my-data">
                    <h3>杨旋斌</h3>
                    <p>行星：地球</p>
                    <p>职业：web前端</p>
                    <p>地址：云南 昆明</p>
                </div>
            </div>
            <div class="pd-wrap">
                <div class="data-tip">前端技能</div>
                <div class="skills">
                    <span class="skill-text">JavaScript</span>
                    <p class="skill-long lv4"></p>
                </div>
                <div class="skills">
                    <span class="skill-text">CSS3</span>
                    <p class="skill-long lv3"></p>
                </div>
                <div class="skills">
                    <span class="skill-text">HTML5</span>
                    <p class="skill-long lv2"></p>
                </div>
                <div class="skills">
                    <span class="skill-text">PHP</span>
                    <p class="skill-long lv1"></p>
                </div>
                <div class="data"></div>
                <div class="icon">
                    <a class="iconfont" href="link">&#xe600;</a>
                    <a class="iconfont" href="link">&#xe601;</a>
                    <a class="iconfont" href="link">&#xe602;</a>
                    <a class="iconfont" href="link">&#xe603;</a>
                </div>
            </div>
        </div>
    </div>
<script>
dmReady(function(){
    navTab();

    var aboutMe=getClass(document,'about-me')[0];
    aboutMe.onOff=true;

    setTimeout(function(){
        showAboutMe();
    },1000);

    var showMe=getClass(document,'showMe');
    for(var i=0;i<showMe.length;i++){
        showMe[i].onclick=function(){
            if(aboutMe.onOff){
                adClass(aboutMe,'center');
                aboutMe.onOff=false;
                aboutMe.style.left='50%';
            }else{
                removeClass(aboutMe,'center');
                aboutMe.onOff=true;
                aboutMe.style.left='55px';
            }


        }
    }
});
function showAboutMe(){
    var aboutMe=getClass(document,'about-me')[0];
    elasticAnimate(aboutMe,{
        left:55,
        opacity:100
    },function(){
        removeClass(aboutMe,'hide');
    },19,0.85)
}
</script>
</body>
</html>